body {
font-family: 'Open Sans Condensed', sans-serif;
}
a {
    color:white;
    font-size: 3em;
}
.bubble-switcher {
    width: 100%;
    height: 100%;
}
.switcher-button {
    background: black;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
}
.switcher-button:hover {
    cursor: pointer;
}


.body-content-container {
    text-align: center;
}
.background-image {
    width: 15%;
    border-radius: 50%;
    border-width: 2px;
    border-color: #AABDC7;
    border-style: solid;
}
.name-header{
    color: whitesmoke;
    align-content: center;
    font-size: 7em;
}
.links {
    padding-top: 2em;
}
.links-footer {
    padding-top: 5%;
    letter-spacing: 1em;
}
