html {
    height: 100%;
}
body {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    color: whitesmoke;
    background-color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 2px 2px 1px #262626;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
}

a {
    color:white;
}
#ContentContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.portrait-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portrait-image {
    border-radius: 50%;
    border: 2px #AABDC7 solid;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 40vh;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
@media screen and (max-height: 700px) {
    .portrait-image {
        height: 25vh;
    }
}
.portrait-clickable:hover {
    cursor: pointer;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

#header {
    flex: 0 0 auto;
    font-weight: 700;
    align-content: center;
    font-size: 7rem;
    width: 100%;
    cursor:pointer;
}

.header-letter{
}
.header-letter:hover {
    text-decoration: underline;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.named-links {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
    font-size: 3rem;
}
.icon-links {
    letter-spacing: 1rem;
    font-size: 3rem;
}

.linked-in:hover {
    color: #0077b5;
    text-shadow: none;
}
.stack-overflow:hover  {
    color: #F48024;
    text-shadow: none;
}
.github:hover  {
    color: #b300b3;
    text-shadow: none;
}

.corner-button-container-table {
    text-align: center;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
}

.corner-button-container-table.bg-selector-corner {
    font-size: 28px;
    left: 2px;
    bottom: 50%;
    transform: translateY(50%);
}

.corner-button-container-table.active-corner {
    font-size: 20px;
    right: 0;
    bottom: 50%;
    transform: translateY(50%)
}

@media only screen and (max-device-width: 768px) {
    /*!* For mobile phones: *!*/
    .name-header {
        font-size: 8rem;
    }

    .named-links {
        font-size: 7rem;
    }

    .icon-links {
        font-size: 7rem;
    }

    .corner-button-container-table.active-corner {
        font-size: 48px !important;
    }
}

/* SHUTTERSTOCK BACKGROUND */

video.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;

    -webkit-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* custom */
}
#bottom-loader {
    color: white;
    width: 100%;
    font-size: 3em;
    display: table;
    table-layout: fixed;
}

#bottom-loader span{
    display: table-cell;
    text-align: center;
    /*-webkit-animation: bounce 500ms ease-out;*/
    /*-moz-animation: bounce 500ms ease-out;*/
    /*-o-animation: bounce 500ms ease-out;*/
    /*animation: bounce 500ms ease-out;*/
    -webkit-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* custom */
}
.hidden-below {
    -ms-transform: translateY(100%); /* IE 9 */
    -webkit-transform: translateY(100%); /* Chrome, Safari, Opera */
    transform: translateY(100%);
    opacity: 0;
}
.visible-above {
    -ms-transform: translateY(0); /* IE 9 */
    -webkit-transform: translateY(0); /* Chrome, Safari, Opera */
    transform: translateY(0);
    opacity: 1;
}

/* END SHUTTERSTOCK BACKGROUND*/

/* FACES */
h1 {
    font-weight: 700;
    align-content: center;
    font-size: 4rem;
    width: 100%;
    margin: 0;
}
h2 {
    font-size: 2rem;
    align-content: center;
    width: 100%;
}

.faces-wrapper {
    padding-top: 6px;
    border-top: solid rgba(255, 255, 255, 1) 4px;
    width: calc(100% - 200px);
    margin: auto;
    overflow-y: auto;
}
.faces-wrapper::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.face {
    width: 10vw
}
@media only screen and (max-device-width: 768px) {
    /* For mobile phones: */
    .face {
        width: 20vw
    }
}

/* END FACES */